<form [formGroup]="form" (ngSubmit)="submit()" class="login-form">
    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Usuario</mat-label>
        <input matInput formControlName="username" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" formControlName="password" />
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit"
        [disabled]="form.invalid">
        Iniciar Sesión
    </button>
</form>
